.tech-stack {
	margin-top: 3.5em;
	padding: 0.5em;
	color: var(--antiquewhite);
	display: grid;
	grid-template-columns: 3fr;
}

.skills-title {
	justify-self: center;
	margin-bottom: 0.5em;
	font-family:
		"Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
		Arial, sans-serif;
}

.skills-cont {
	padding: 0.5em;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 3fr));
	grid-gap: 1em;
	border-radius: 0.5em;
}

.skills-cont:hover {
	box-shadow: -1px -1px 2px;
}

.skills-cont > div {
	display: grid;
	place-items: center;
	font-family:
		"Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
		Arial, sans-serif;
	font-size: 10px;
}

.skills-cont > div:hover {
	animation: changeFont 3s 1 linear;
}

.skills-cont > div > p {
	font-size: 13px;
}

@keyframes changeFont {
	0% {
		font-size: 2px;
	}
	100% {
		font-size: 10px;
	}
}

img {
	margin: 1.5em;
	height: 8em;
}

.js {
	margin-right: 2em;
}

/* Small laptops */

@media screen and (max-width: 1019px) {
	img {
		height: 6em;
	}
}

@media screen and (max-width: 866px) {
	img {
		height: 4.5em;
		margin: 0.7em;
		margin-right: 0.4em;
	}
}

/* Smaller UIs */

@media screen and (max-width: 600px) {
	.skills-cont {
		display: grid;
		grid-template-columns: 3fr 3fr 3fr;
		place-items: center;
	}

	img {
		height: 4em;
		margin: 1em;
	}
}

@media screen and (max-width: 390px) {
	.skills-cont {
		display: grid;
		grid-template-columns: 3fr 3fr 3fr;
		place-items: center;
	}

	img {
		height: 3em;
		margin: 0.5em;
	}

	.js {
		margin-right: 0.5em;
	}
}
